body{
    display: flex;
    justify-content: center;
    margin-top: 5em;
}
.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 25%;
    padding-left:5rem;
    height: 500px;
    font-size: 30px;
    border: 1px solid black;
}
.badge{
    text-align: center;
}