body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5rem;
    overflow: hidden;

}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    border: 1px solid black;
    box-shadow: 2px 3px 5px 1px;
    font-size: 25px;
    font-weight: lighter;
}
.position1{
    position: relative;
}
.badge1{
    display: flex;
    align-items: center;
    position: absolute;
    left:11rem;
    font-size: 16px;
    bottom: 2rem;
    width: 25px;
    height: 25px;
    background-color: #1d4ed8;
    color: #fafafa;
    font-weight: bold;
    border-radius:50%;
}
.badge2{
    display: flex;
    justify-content: center;
    width: 35px;
    height: 35px;
    font-size: 20px;

}
.btn_action{
    display: flex;
    align-items: center;
    position: absolute;
    left: 20rem;
    bottom: 1rem;
    width: 90px;
    height: 55px;
    border-radius: 0.3rem;
    background-color: #1d4ed8;
    color: #fafafa;
    font-weight: bold;
}
.badge3{
    position: absolute;
    left:-1rem;
    top:-1rem;
    background-color: #ec4899
    ;

}
.btn_hide{
    display: flex;
    align-items: center;
    position: absolute;
    left:20rem;
    bottom: 1rem;
    width: 25%;
    height: 45px;
    background-color: white;
    color: black;
}
.badge4{
    position: absolute;
    left:4rem;
    top: -1rem;
}
.fas{
    display: flex;
    position: absolute;
    left: 12rem;
    bottom: 1.5rem;
    font-size: 35px;
}
.badge5{
    display: flex;
    position: absolute;
    left:14rem;
    bottom: 3rem;
}